[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
pyjwt = "*"
python-decouple = "*"
python-multipart = "*"
uvicorn = "*"
pydantic = "*"
databases = "*"

[dev-packages]

[requires]
python_version = "3.8"
